body {
    margin: 0;
}

.container {
    background-color: rgb(250, 215, 232);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.logo>img {
    width: 290px;
    height: 220px;
    margin-top: -70px;
}

.navItem {
    padding-right: 20px;
}

.navItem>ul {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding-top: 20px;
    padding-right: 20px;
}

.navItem>ul>a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.navItem>ul :hover {
    color: red;
}

a>img {
    width: 30px;
}


.intro>h5{
    font-size: 50px;
    width: 500px;
    /* background-color: #ff523b; */
    padding-left: 30px;
    margin-top: -30px;
}

.intro>p {
    color: #5f5b5a;
    font-size: 15px;
    margin-top: -70px;
    padding-left: 30px;
    width: 500px;
}

.intro>button {
    background-color: #ff523b;
    border: none;
    width: 140px;
    color: white;
    height: 40px;
    border-radius: 20px;
    margin-left: 40px;
    cursor: pointer;
    font-size: 16px;
}

.main-container {
    background-color: rgb(250, 215, 232);
    padding-bottom: 100px;
    padding-top: 100px;
}

.child {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 80px;
}

.intro-img>img {
    width: 70%;
    margin-top: -15%; 
 margin-left: 15%;

}

.middle{
     padding-top: 80px;
     padding-bottom: 80px;
}

.child-mid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 80%;
    padding-left: 120px;
}

.image>img{
    width: 100%;
    height: 350px;
}

.parent{
display: flex;
justify-content: center;
align-items: center;
}
.featured > h2{
    font-size: 40px;
    border-bottom: 10px solid red;
    border-width: 10px;
}